body {
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: monospace;
}

li {
  list-style: none;
}

.divider {
  width: 128px;
  border: 0;
  border-radius: 20px;
  height: 5px;
  background: linear-gradient(270deg, #f46737 0%, #945dd6 100%);
  
}
