.footer {
  padding: 2rem 48px 40px;
  box-sizing: content-box;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.contact {
  font-size: 24px;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #9cc9e3;
  font-size: 28px;
  font-weight: 600;
}

.divider {
  border-color: #9cc9e3;
}

.icon:hover {
  transform: rotate(360deg);
  transition: 600ms;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 845px) {
  .contacts {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 520px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .contact {
    font-size: 18px;
  }

  .link {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .contact {
    font-size: 12px;
  }

  .link {
    font-size: 14px;
  }

  .footer {
    padding: 2rem 20px 12px;
  }
}
